.shop-page {
    position:relative;
    bottom:3px;
    padding:0;
}

.gallery-image:last-child {
    padding-bottom:100px;
}

img {
    cursor:pointer;
    height:100px;
}

/*.shop-button:hover {
    background-color:#262a38;
}*/