body {
    margin:0;
    padding:0;
}

#top-navigation {
    background-color: rgb(167, 167, 167);
    overflow: hidden;
    display: flex;
}

#top-navigation li {
    padding: 2.5vw;
    font-size: 16px;
}

#top-navigation li:hover {
    background-color:gray;
}

#top-navigation li:active {
    background-color:darkgray;
    cursor:pointer;
}

#account:nth-child(5) {
    margin-left: auto; 
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-track {
    background-color:darkgray;
}

::-webkit-scrollbar-thumb {
    background-color:gray;
}

::-webkit-scrollbar-thumb:hover {
    background-color:rgb(95, 95, 95);
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

li {
   display: block;
   padding: 8px;
   background-color: darkgray;
   cursor:pointer;
   font-size:16px;
}

#left-navigation {
    width: 223px;
    height:100vh;
}

#content {
    margin-left:300px;
}

.image {
    cursor:pointer;
}

.image:active {
    width:200px;
}